.adviser1-head h1 {
  margin-top: 25px;
  margin-left: 50px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  color: #666666;
}

.paticons-list {
  display: flex;
  margin-left: 50px;
  color: #666666;
}

.adviser1 {
  position: relative;
  width: 20%;
}

.adviser1 img {
  width: 200px;
  height: 200px;
}

.adviser1 li {
  list-style: none;
}

.adviser1 li p {
  font-family: Gill Sans MT, GillSans-Light, Gill Sans Light, sans-serif;
}

.advisers-overlay {
  position: absolute;
  background-color: #66666694;
  border-radius: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  bottom: 67px;
  overflow: hidden;
  width: 200px;
  height: 200px;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.advisers-overlay i {
  position: relative;
}
.advisers-overlay a {
  text-decoration: none;
  color: white;
}
.adviser1:hover .advisers-overlay {
  opacity: 1;
}

.advisers-overlay p {
  color: white;
  font-family: Gill Sans MT, GillSans-Light, Gill Sans Light, sans-serif;
  font-size: 10px;
  position: absolute;
  width: 90%;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  text-align: center;
}
.advisers-overlay h4 {
  font-family: Gill Sans MT, GillSans-Light, Gill Sans Light, sans-serif;
  font-size: 12px;
}

@media screen and (max-width: 1200px) {
  .adviser1 {
    width: 20%;
  }
  .adviser1 img {
    width: 170px;
    height: 170px;
  }
  .advisers-overlay {
    width: 170px;
    height: 170px;
    bottom: 67px;
  }
  .advisers-overlay p {
    font-size: 8px;
    width: 85%;
  }
}

@media screen and (max-width: 935px) {
  .adviser1 {
    width: 20%;
  }
  .adviser1 img {
    width: 150px;
    height: 150px;
  }
  .advisers-overlay {
    width: 150px;
    height: 150px;
    bottom: 55px;
  }
  .advisers-overlay p {
    font-size: 7px;
  }
  .adviser1 li {
    font-size: 13px;
  }
}

@media screen and (max-width: 828px) {
  .adviser1 {
    width: 20%;
  }
  .adviser1 img {
    width: 100px;
    height: 100px;
  }
  .advisers-overlay {
    display: none;
  }
  .adviser1 li {
    font-size: 11px;
  }
  .adviser1-head h1 {
    font-size: 25px;
  }
}
@media screen and (max-width: 634px) {
  .adviser1 img {
    width: 80px;
    height: 80px;
  }

  .adviser1 li {
    font-size: 10px;
  }
  .adviser1-head h1 {
    font-size: 25px;
  }
}
@media screen and (max-width: 634px) {
  .adviser1 {
    width: 23%;
  }
}
@media screen and (max-width: 433px) {
  .adviser1 {
    width: 26%;
  }
  .adviser1 img {
    width: 70px;
    height: 70px;
  }
}
