.advisers-container {
  width: 100%;
  height: auto;
}

.advisers-head h1 {
  margin-left: 50px;
  margin-top: 50px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  color: #666666;
}

.blue {
  color: #0f74b9;
}
.picons {
  display: flex;
}
.picon1 {
  width: 25%;
}
.icons1 ul {
  width: auto;
  margin-left: 50px;
  margin-right: 50px;
  list-style: none;
  color: #666666;
}

.icons1 p {
  font-family: Gill Sans MT, GillSans-Light, Gill Sans Light, sans-serif;
}

.icons1 img {
  width: 270px;
}

@media screen and (max-width: 1200px) {
  .icons1 img {
    width: 170px;
  }
  .picon1 {
    width: 21.2%;
  }
}

@media screen and (max-width: 935px) {
  .icons1 img {
    width: 150px;
  }
  .picon1 {
    width: 21.2%;
  }
  .icons1 p {
    font-size: 13px;
  }
}

@media screen and (max-width: 828px) {
  .icons1 img {
    width: 100px;
  }
  .picon1 {
    width: 21.2%;
  }

  .icons1 p {
    font-size: 11px;
  }
}

@media screen and (max-width: 634px) {
  .icons1 img {
    width: 80px;
  }
  .icons1 p {
    font-size: 10px;
  }
  .advisers-head h1 {
    font-size: 25px;
  }
  .profile-head h1 {
    font-size: 25px;
  }
  .picon1 {
    width: 21.2%;
  }
}

@media screen and (max-width: 634px) {
  .picon1 {
    width: 26.4%;
  }
}
