.analytics-container {
  width: 100%;
  height: 500px;
  background: #f7f7f7;
}

.analytics-head h1 {
  padding-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  color: #666666;
}

.analytics1-body-1 {
  width: 740px;
}

.analytics1-body-2 {
  width: 740px;
}

.analytics1-body-1 p {
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  font-family: Gill Sans MT, GillSans-Light, Gill Sans Light, sans-serif;
  font-size: 24px;
  color: #666666;
}

.analytics1-body-2 p {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 100px;
  font-family: Gill Sans MT, GillSans-Light, Gill Sans Light, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: lighter;
  color: #666666;
}

.blue {
  font-family: Gill Sans MT, GillSans-Light, Gill Sans Light, sans-serif;
}

.analytics-img {
  float: right;
  margin-right: 50px;
}

.analytics-img img {
  width: 600px;
  height: auto;
}

.button-analytics {
  position: relative;
  margin-top: 10px;
  padding-left: 350px;
}

@media screen and (max-width: 1300px) {
  .analytics1-body-1 p {
    font-size: 20px;
  }
  .analytics1-body-2 p {
    font-size: 20px;
  }
  .analytics-img img {
    width: 500px;
  }
  .button-analytics {
    padding-left: 250px;
  }
}

@media screen and (max-width: 998px) {
  .analytics1-body-1 p {
    font-size: 18px;
    margin-left: 75px;
  }
  .analytics1-body-2 p {
    font-size: 18px;
  }
  .analytics-img img {
    width: 400px;
  }
  .analytics-container {
    height: 470px;
  }
  .analytics1-body-1 {
    width: 550px;
  }
  .analytics1-body-2 {
    width: 550px;
  }
  .button-analytics {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .analytics1-body-1 p {
    font-size: 15px;
    margin-left: 50px;
  }
  .analytics1-body-2 p {
    font-size: 15px;
  }
  .analytics-img img {
    width: 300px;
  }
  .analytics-container {
    height: 470px;
  }
  .analytics1-body-1 {
    width: 500px;
  }
  .analytics1-body-2 {
    width: 500px;
  }
}

@media screen and (max-width: 640px) {
  .analytics1-body-1 p {
    font-size: 15px;
    margin-left: 75px;
  }
  .analytics1-body-2 p {
    font-size: 15px;
  }
  .analytics-img img {
    display: none;
  }
  .analytics1-body-1 {
    width: 100%;
  }
  .analytics1-body-2 {
    width: 100%;
  }
  .analytics-container {
    width: 100%;
    height: 450px;
  }
}
