.analytics-container {
  width: 100%;
  height: auto;
  background: #f7f7f7;
}

.analytics-head h1 {
  padding-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  color: #666666;
}

.analytics1-body-1 {
  width: 55%;
}

.analytics1-body-2 {
  width: 55%;
  padding-bottom: 20px;
}

.analytics1-body-1 p {
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  font-family: Gill Sans MT, GillSans-Light, Gill Sans Light, sans-serif;
  font-size: 20px;
  color: #666666;
}

.analytics1-body-2 p {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 100px;
  font-family: Gill Sans MT, GillSans-Light, Gill Sans Light, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: lighter;
  color: #666666;
}

.blue {
  font-family: Gill Sans MT, GillSans-Light, Gill Sans Light, sans-serif;
}

.analytics-img {
  float: right;
  margin-right: 50px;
}

.analytics-img img {
  width: 600px;
  height: auto;
}

.button-analytics {
  position: relative;
  text-align: end;
  margin-right: 50px;
  margin-top: 20px;
}
.big-button {
  padding: 12px 26px;
  font-size: 18px;
  border-radius: 40px;
  background-color: #0f74b9;
  outline: none;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .analytics1-body-1 p {
    font-size: 20px;
  }
  .analytics1-body-2 p {
    font-size: 20px;
  }
  .analytics-img img {
    width: 500px;
  }
}

@media screen and (max-width: 1100px) {
  .analytics1-body-1 p {
    font-size: 18px;
    margin-left: 75px;
  }
  .analytics1-body-2 p {
    font-size: 18px;
  }
  .analytics-img img {
    width: 400px;
  }
  .analytics1-body-1 {
    width: 550px;
  }
  .analytics1-body-2 {
    width: 550px;
  }
  .button-analytics {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .analytics1-body-1 p {
    font-size: 15px;
    margin-left: 50px;
  }
  .analytics1-body-2 p {
    font-size: 15px;
  }
  .analytics-img img {
    width: 300px;
  }
  .analytics-container h1 {
    font-size: 28px;
  }
}

@media screen and (max-width: 640px) {
  .analytics1-body-1 p {
    font-size: 15px;
    margin-left: 75px;
  }
  .analytics1-body-2 p {
    font-size: 15px;
  }
  .analytics-img img {
    display: none;
  }
  .analytics1-body-1 {
    width: 100%;
  }
  .analytics1-body-2 {
    width: 100%;
  }
}
