.analytics-container-2 {
  width: 100%;
  height: auto;
}

.analytics2-body-1 p {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 100px;
  font-family: Gill Sans MT, GillSans-Light, Gill Sans Light, sans-serif;
  font-size: 20px;
  color: #666666;
}

.analytics2-body-2 {
  margin-top: 20px;
  margin-left: 70px;
  margin-right: 100px;
  width: 40%;
}

.analytics2-body-2 li {
  font-family: Gill Sans MT, GillSans-Light, Gill Sans Light, sans-serif;
  font-size: 20px;
  margin-top: 20px;
  color: #666666;
}

.big-text ul {
  margin-top: 20px;
  margin-left: 50px;
  list-style: none;
  color: #666666;
}

.big-text h1 {
  font-family: Poppins, sans-serif;
  font-size: 50px;
}
.big-text p {
  font-size: 18px;
}
.button-a {
  display: none;
}
.big-button-a {
  padding: 12px 26px;
  font-size: 18px;
  border-radius: 40px;
  background-color: #0f74b9;
  outline: none;
  border: none;
  cursor: pointer;
}

.big-button-a:hover {
  transform: translateY(-10px);
  transition: 0.5s;
}


@media screen and (max-width: 1300px) {
  .analytics2-body-1 p {
    font-size: 20px;
  }
  .analytics2-body-2 li {
    font-size: 20px;
  }
  .bflex{
    display: flex;
    justify-content: space-between;
  }
  .big-text{
  }
}

@media screen and (max-width: 1100px) {
  .analytics2-body-1 p {
    font-size: 18px;
    margin-left: 75px;
  }
  .analytics-container-2 {
    width: 100%;
  }
  .analytics2-body-2 li {
    font-size: 18px;
  }
  .big-text h1 {
    font-size: 34px;
  }
  .button-analytics {
    display: none;
  }
  .button-a {
    display: initial;
    margin-left: 50px;
  }
  .big-button-a {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 798px) {
  .analytics2-body-1 p {
    font-size: 15px;
    margin-left: 75px;
  }
  .analytics2-body-2 {
    width: 55%;
  }
  .analytics2-body-2 li {
    font-size: 15px;
  }

  .big-text h1 {
    font-size: 28px;
  }

  .big-button-a {
    font-size: 18px;
  }
}

@media screen and (max-width: 698px) {
  .analytics2-body-1 p {
    font-size: 15px;
    margin-left: 75px;
  }
  .analytics2-body-2 li {
    font-size: 15px;
  }

  .big-text h1 {
    font-size: 24px;
  }

  .big-button-a {
    font-size: 13px;
  }
  .big-text p {
    font-size: 15px;
  }
}
