.footer-container {
  width: 100%;
  height: auto;
}

.left-text {
  justify-self: start;
  color: #666666;
  margin-top: 50px;
  margin-left: 25px;
  font-size: 18px;
}

.left-text p {
  font-family: Gill Sans MT, GillSans-Light, Gill Sans Light, sans-serif;
  font-weight: lighter;
}
.downloadp {
  margin-bottom: 7px;
}
.left-text a {
  font-family: Gill Sans MT, GillSans-Light, Gill Sans Light, sans-serif;
  font-weight: lighter;
  text-decoration: none;
  color: #0f74b9;
  font-size: 15px;
}
.company-name {
  margin-top: 30px;
  font-family: Gill Sans MT, GillSans-Light, Gill Sans Light, sans-serif;
  font-weight: 600;
}

.right-text {
  font-family: Gill Sans MT, GillSans-Light, Gill Sans Light, sans-serif;
  font-size: 16px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: end;
  margin-right: 25px;
  text-align: left;
  list-style: none;
}
.col-2 {
  margin-right: 20px;
}

.right-text li {
  font-family: Poppins, sans-serif;
}

.right-text ul {
  list-style: none;
  text-decoration: none;
}

.footer-items {
  margin-top: -95px;
  display: flex;
  align-items: center;
}

.footer-link {
  font-family: Gill Sans MT, GillSans-Light, Gill Sans Light, sans-serif;
  text-decoration: none;
  color: #666666;
}

.footer-link i {
  color: #666666;
  padding-left: 2px;
}

.blue-link {
  color: #0f74b9;
  font-family: Gill Sans MT, GillSans-Light, Gill Sans Light, sans-serif;
}
.footer hr {
  margin-left: 25px;
  margin-right: 25px;
  border: 0;
  border-top: 1px solid #0f74b9;
}

.subfoot {
  display: flex;
  padding-bottom: 10px;
  padding-top: 5px;
  justify-content: space-between;
}

.sub-foot p {
  font-family: Gill Sans MT, GillSans-Light, Gill Sans Light, sans-serif;
  font-weight: lighter;
  margin-left: 25px;
  color: #666666;
}

.contact-right p {
  font-family: Gill Sans MT, GillSans-Light, Gill Sans Light, sans-serif;
  font-weight: lighter;
  color: #666666;
  margin-right: 50px;
}

.footer-link i {
  font-size: 22px;
}
.bottom {
  display: none;
}

@media (max-width: 990px) {
  .left-text {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .right-text {
    font-size: 15px;
  }

  .sub-foot {
    font-size: 12px;
  }

  .contact-right {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .left-text {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .left-text a {
    font-size: 13px;
  }
  .right-text {
    font-size: 11px;
  }

  .sub-foot {
    font-size: 11px;
  }
  .contact-right {
    font-size: 11px;
  }
  .footer-link i {
    font-size: 11px;
  }
  .footer-items {
    margin-top: -70px;
  }
}

@media (max-width: 660px) {
  .subfoot {
    margin-right: 25px;
    display: block;
    justify-content: space-between;
  }
  .contact-right {
    display: none;
  }
  .footer-link i {
    font-size: 10px;
  }
  .sub-foot {
    font-size: 10px;
  }
  .contact-right {
    font-size: 10px;
  }
  .bottom {
    display: inherit;
  }
  .bottom1 {
    display: none;
  }
  .left-text {
    font-size: 10px;
  }

  .right-text {
    font-size: 10px;
  }
  .left-text a {
    font-size: 10px;
  }
  .footer-items {
    margin-top: -65px;
  }

  .col-2 {
    margin-right: 10px;
  }
  .blue-link {
    font-size: 10px;
  }
}
