.hww-container {
  margin-top: 50px;
  width: 100%;
  height: auto;
  display: grid;
  background: #f7f7f7;
}

.hww-heading {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  margin-top: 50px;
  margin-left: 50px;
  color: rgba(102, 102, 102, 0.726);
}

.hww-body {
  font-family: Gill Sans MT, GillSans-Light, Gill Sans Light, sans-serif;
  font-weight: lighter;
  margin-left: 50px;
  color: #666666;
  margin-right: 50px;
  font-size: 23px;
}

.icon-right-arrow-123:before {
  content: \e900;
}

.fa-arrow-down {
  display: none;
}

/* icon font */

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot") format("embedded-opentype"),
    url("../fonts/icomoon.ttf") format("truetype"),
    url("../fonts/icomoon.woff") format("woff"),
    url("../fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  margin-left: 10px;
  margin-right: 10px;
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-right-arrow-123:before {
  content: "\e900";
  color: #b3b3b3;
}

.hww-big-ul {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  padding-right: 150px;
  padding-left: 135px;
  text-decoration: none;
  list-style: none;
  color: #0f74b9;
}

.hww-big-ul h1 {
  font-family: Poppins, sans-serif;
  color: #666666;
}

.hww-foot-ul {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 10px 10px 10px;
  width: 100%;
  padding-right: 130px;
  padding-left: 135px;
  margin-top: -30px;
  font-family: Gill Sans MT, GillSans-Light, Gill Sans Light, sans-serif;
  text-decoration: none;
  list-style: none;
  color: #0f74b9;
}

.hww1 {
  margin-left: -115px;
}

.hww2 {
  margin-right: -75px;
}

.hww-box {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}
.hww-box-1,
.hww-box-2,
.hww-box-3 {
  background-color: #fafafb;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 85px;
  height: 60px;
  margin: 10px;
}
.hww-box-1,
.hww-box-2,
.hww-box-3,
h2 {
  font-family: Poppins sans-serif;
  font-size: 11px;
  font-weight: bolder;
}
.hww-box-1,
.hww-box-2,
.hww-box-3,
p {
  font-family: Gill Sans MT, GillSans-Light, Gill Sans Light, sans-serif;
  font-size: 8px;
  font-weight: 200;
}
.hww-box-title {
  margin-top: 10px;
}
.hww-box-content {
  margin-top: 0px;
  color: #0f74b9;
}

.hww-box {
  display: none;
}
@media (max-width: 1300px) {
  .hww-container {
    height: 300px;
  }

  .hww-big-ul {
    margin-left: -30px;
  }

  .hww-big-ul h1 {
    font-size: 22px;
  }

  .hww-heading {
    margin-top: 50px;
    margin-left: 25px;
    font-size: 25px;
  }

  .hww-body {
    margin-top: -20px;
    margin-left: 25px;
    margin-right: 50px;
    font-size: 18px;
  }

  .hww-foot-ul {
    padding-right: 100px;
    padding-left: 106px;
    margin-top: -30px;
    font-size: 15px;
  }
  .hww1 {
    margin-left: -67px;
  }

  .hww2 {
    margin-right: -30px;
  }
}

@media (max-width: 1068px) {
  .hww-heading {
    margin-top: 50px;
    margin-left: 50px;
    font-size: 25px;
  }

  .hww-big-ul h1 {
    font-size: 18px;
  }

  .hww-body {
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 15px;
  }

  .hww-foot-ul {
    padding-right: 100px;
    padding-left: 106px;
    margin-top: -30px;
    font-size: 12px;
  }
  .hww1 {
    margin-left: -57px;
  }

  .hww2 {
    margin-right: -5px;
  }
}

@media (max-width: 898px) {
  .hww-heading {
    margin-top: 50px;
    margin-left: 50px;
    font-size: 25px;
  }

  .hww-big-ul h1 {
    font-size: 15px;
  }

  .hww-body {
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 15px;
  }

  .hww-foot-ul {
    padding-right: 100px;
    padding-left: 106px;
    margin-top: -30px;
    font-size: 13px;
  }
  .hww1 {
    margin-left: -43px;
  }

  .hww2 {
    margin-right: -30px;
  }
}

@media (max-width: 758px) {
  .hww-heading {
    margin-top: 50px;
    margin-left: 50px;
    font-size: 25px;
  }

  .hww-big-ul h1 {
    font-size: 12px;
  }

  .hww-body {
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 13px;
  }

  .hww-foot-ul {
    padding-right: 100px;
    padding-left: 106px;
    margin-top: -30px;
    font-size: 10px;
  }
  .hww1 {
    margin-left: -37px;
  }

  .hww2 {
    margin-right: -2px;
  }
}

@media (max-width: 650px) {
  .hww-foot-div {
    display: none;
  }
  .hww-box {
    display: flex;
  }
}

@media (max-width: 650px) {
  .hww-big-ul h1 {
    font-size: 9px;
  }
  .hww-foot-ul li {
    font-size: 8px;
  }
  .hww-big-ul {
    grid-template-columns: 1;
    margin-left: 0px;
  }
  .hww-big-list {
    margin-left: -50px;
  }
  .hww-big-list1 {
    padding-left: 10px;
  }
  .hww-big-list2 {
    padding-left: 10px;
  }
}
