.section-heading {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  margin-top: 100px;
  margin-left: 50px;
  color: rgba(102, 102, 102, 0.726);
}

.logo-container {
  padding-left: 65px;
  width: 100%;
  height: auto;
  display: flex;
  object-fit: contain;
}

.logo-container-2 {
  padding-left: 65px;
  width: 100%;
  height: auto;
  display: flex;
}

.logo-img {
  width: 60%;
  height: auto;
  transform: translate(-50%, -50%);
  filter: grayscale(100%);
  transition: 0.3s ease-in-out;
}
.logo-img1 {
  width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
  filter: grayscale(100%);
  transition: 0.3s ease-in-out;
}
.logo-box {
  width: 120px;
  vertical-align: top;
  height: auto;
  margin-top: 35px;
  box-sizing: border-box;
  text-align: center;
}
.logo-box1 {
  width: 120px;
  height: auto;
  margin-top: 25px;
  margin-left: 40px;
  box-sizing: border-box;
  text-align: center;
}
.logo-box2 {
  width: 120px;
  height: auto;
  margin-top: 45px;
  box-sizing: border-box;
  text-align: center;
}
.logo-img:hover {
  filter: grayscale(0%);
}
.logo-img1:hover {
  filter: grayscale(0%);
}
.logo-img11:hover {
  filter: grayscale(0%);
}
.logo-reviews-flex {
  display: flex;
  width: 100%;
}
.lr-section-1 {
  flex: 1;
  width: 100%;
}
.lr-section-2 {
  flex: 1;
  width: 100%;
}
/*---------------------------------------reviews-----------------------*/
.reviews-title {
  margin-top: -50px;
  margin-bottom: 20px;
}
.reviews-title h1 {
  font-family: Poppins;
  color: rgba(102, 102, 102, 0.726);
  font-weight: 600;
  font-size: 18px;
}
.reviews-flex {
  display: flex;
  gap: 10px;
  transition: 0.3s;
  padding-right: 50px;
}
.reviews-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30%;
  border-radius: 16px;
  background-color: #fafafb;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.15);
  text-align: left;
  padding: 17px 17px 17px 17px;
  transition: 0.3s;
}
.reviews-info {
  text-align: right;
}
.reviews-img {
  text-align: right;
}
.reviews-img img {
  padding-top: 5px;
  width: 15%;
}
.reviews-info b {
  color: rgba(102, 102, 102, 0.726);
  font-size: 8px;
  font-family: Poppins;
  font-weight: 600;
}
.reviews-info p {
  font-size: 8px;
  font-family: Poppins;
  color: rgba(102, 102, 102, 0.726);
}

.reviews-body {
  width: 100%;
  height: 60%;
}
.reviews-body p {
  color: rgba(102, 102, 102, 0.726);
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 7.9px;
  font-family: Gill Sans MT, GillSans-Light, Gill Sans Light, sans-serif;
}
.reviews-card:hover {
  transform: translateY(-1px);
  box-shadow: 0 40px 70px rgba(0, 0, 0, 0.1);
  color: rgba(102, 102, 102, 0.726);
}

@media (max-width: 1350px) {
  .reviews-card {
    width: 40%;
  }
}

@media (max-width: 1194px) {
  .logo-reviews-flex {
    flex-direction: column;
  }
  .reviews-card {
    width: 25%;
  }
  .reviews-flex {
    padding-left: 50px;
  }
  .reviews-title {
    margin-top: 25px;
    margin-left: 50px;
  }
  .reviews-title h1 {
    font-family: Poppins;
    color: rgba(102, 102, 102, 0.726);
    font-weight: 600;
  }
}
@media (max-width: 800px) {
  .reviews-card {
    width: 35%;
  }
}
@media (max-width: 754px) {
  .reviews-title h1 {
    font-size: 25px;
  }
}
@media (max-width: 660px) {
  .logo-reviews-flex {
    flex-direction: column;
  }
  .reviews-card {
    width: 50%;
  }
}
@media (max-width: 420px) {
  .reviews-flex {
    flex-direction: column;
  }
  .reviews-card {
    width: 80%;
  }
}

@media (max-width: 754px) {
  .section-heading {
    font-size: 25px;
  }
  .reviews-title h1 {
    font-size: 18px;
  }
}

@media (max-width: 668px) {
  .logo-container {
    margin-top: 15px;
    height: auto;
  }
  .logo-container-2 {
    width: 100%;
    height: auto;
  }
  .logo-img {
    width: 50%;
  }
  .logo-img1 {
    width: 90%;
  }

  .logo-box {
    width: 100px;
    height: auto;
    margin-top: 25px;
    box-sizing: border-box;
    text-align: center;
  }
  .logo-box1 {
    margin-top: 15px;
  }
  .logo-box2 {
    margin-top: 33px;
  }
}
