.partner-head h1 {
  margin-top: 50px;
  margin-left: 50px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  color: #666666;
}

.pticons-list {
  margin-top: 20px;
  display: flex;
  margin-left: 50px;
  list-style: none;
  color: #666666;
}

.pticons {
  display: inline-flex;
  width: 23.7%;
  margin: 1% 0 0 1%;
  perspective: 800px;
  transition: all 0.3s ease 0s;
}

.pticons:hover .pticons-1 {
  transform: rotateY(180deg);
}

.pticons-1 {
  background: none;
  cursor: default;
  height: 270px;
  width: 270px;
  border-radius: 40px;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
}

.pticons-1-front {
  backface-visibility: hidden;
  box-sizing: border-box;
  display: block;
  height: 350px;
  position: absolute;
  width: 100%;
}

.pticons-1-back {
  backface-visibility: hidden;
  box-sizing: border-box;
  border-radius: 40px;
  height: 270px;
  width: 270px;
  position: absolute;
  transform: rotateY(180deg);
  transition: all 0.2s ease 0s;
  text-align: center;
}

.pticons-1-back p {
  padding: 0.7em;
  font-family: Gill Sans MT, GillSans-Light, Gill Sans Light, sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 25px;
}

.fa-linkedin {
  color: #fff;
}

.pticons-1 li {
  margin-top: 280px;
  backface-visibility: hidden;
}

.pticons-1 li p {
  font-family: Gill Sans MT, GillSans-Light, Gill Sans Light, sans-serif;
}

.pticons-1-back {
  background: radial-gradient(
    127.83% 128.48% at 50% 50%,
    #0072a3 0%,
    #014e82 99.51%
  );
}

.pticons img {
  width: 270px;
}

.fa-linkedin {
  align-items: center;
}

/*----------------------------  section ------------------------------*/

@media screen and (max-width: 968px) {
  .pticons-1 img {
    width: 150px;
  }
  .pticons-1 li {
    margin-top: 160px;
  }
  .pticons-1-back {
    height: 200px;
    width: 200px;
  }
  .pticons-1-back p {
    font-size: 14px;
    line-height: 13px;
  }
}

@media screen and (max-width: 668px) {
  .pticons-1 img {
    width: 100px;
  }
  .icons1 p {
    font-size: 13px;
  }
  .pticons-1-back {
    height: 100px;
    width: 100px;
  }
  .pticons-1-back p {
    display: none;
  }
  .fa-linkedin {
    align-items: center;
    padding: 40px;
  }
  .pticons-1 li {
    margin-top: 110px;
    font-size: 13px;
  }
  .partner-head h1 {
    font-size: 25px;
  }
}
