.profile-container {
  width: 100%;
  height: auto;
}

.profile-head h1 {
  margin-left: 50px;
  margin-top: 50px;

  font-family: Poppins, sans-serif;
  font-weight: 600;
  color: #666666;
}

.profile-icons {
  display: inline-flex;
  margin-top: 50px;
  margin-left: 50px;
}

.iprofile-2 {
  margin-left: 36px;
}

.profile-desc {
  display: flex;
  margin-left: 100px;
  margin-top: 30px;
  color: #666666;
}

.profile-desc p {
  font-family: Gill Sans MT, GillSans-Light, Gill Sans Light, sans-serif;
}

.blue {
  color: #0f74b9;
}

.second-desc {
  margin-left: 230px;
}

@media screen and (max-width: 767px) {
  .profile-icons {
    display: block;
    margin-left: 50px;
    margin-top: 50px;
    width: 60%;
  }

  .profile-icons img {
    width: 120px;
  }

  .iprofile-2 {
    margin-top: 30px;
    margin-left: 30px;
  }

  .profile-desc {
    display: absolute;
    font-size: 15px;
    margin-left: 60px;
    margin-top: 30px;
    color: #666666;
  }

  .second-desc {
    margin-left: 30px;
  }
}
