.profile-head h1 {
  margin-left: 50px;
  margin-top: 50px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  color: #666666;
}

.blue {
  color: #0f74b9;
}
.profile-picons {
  display: flex;
}
.profile-picon1 {
  width: 24%;
}
.profile-icons1 ul {
  width: 100%;
  margin-left: 50px;
  margin-right: 50px;
  list-style: none;
  color: #666666;
}

.profile-icons1 p {
  font-family: Gill Sans MT, GillSans-Light, Gill Sans Light, sans-serif;
}

.profile-icons1 img {
  width: 270px;
}

@media screen and (max-width: 1200px) {
  .profile-icons1 img {
    width: 170px;
  }
  .profile-picon1 {
    width: 19%;
  }
}

@media screen and (max-width: 935px) {
  .profile-icons1 img {
    width: 150px;
  }
  .profile-picon1 {
    width: 19%;
  }
  .profile-icons1 p {
    font-size: 13px;
  }
}

@media screen and (max-width: 828px) {
  .profile-icons1 img {
    width: 100px;
  }
  .profile-picon1 {
    width: 19%;
  }

  .profile-icons1 p {
    font-size: 11px;
  }
}

@media screen and (max-width: 634px) {
  .profile-icons1 img {
    width: 80px;
  }
  .profile-icons1 p {
    font-size: 10px;
  }

  .profile-head h1 {
    font-size: 25px;
  }
  .profile-picon1 {
    width: 18%;
  }
}
